@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    /* height: 100vh; */
    background-color: #000;
    color: #fff; ;
    width: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

div ul li a:hover{
    color: darkgreen;
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}

.logo{
    color: darkgreen;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.content-article1{
    display: flex;
    justify-content: center;
}

.content-article1 img{
    display: flex;
    padding-top: 10px;
    margin-left: 50px;
    border-radius: 50px;
    height: 100%;
}

.content-article1 p{
    display: flex;
    margin-left: 70px;
}


.content-aside img{
    border-radius: 100%;
    border-image: 100%;
    width: 300px;
    border: solid 2px darkgreen;
    /* margin-left: 500px; */
}

.aside-prof {
    display: flex;
    padding: 50px;
}

.aside-prof h2{
    font-size: 30px;
    color: darkgreen;
}

.content-aside{
    display: flex;
    justify-content: center;
    width: 500px;
    margin-bottom: 100px;
    margin-left: 500px;
}

.profile h2{
    display: flex;
    margin-left: 230px;
    font-size: 30px;
}

.content-article2 img{
    display: flex;
    margin-left: 300px;
    border-radius: 50px;
    height: 100%;
}

.karir{
    margin-top: 200px;
}

.karir h2{
    font-size: 30px;
    display: flex;
    padding: 20px 0px;
    margin-left: 300px;
}

.content-article2 p{
    display: flex;
    margin-left: 300px;
}

.bring img{
    margin-left: 300px;
    border-radius: 50px;
    height: 100%;
}

.hori h2{
    font-size: 30px;
    display: flex;
    padding: 20px 0px;
    margin-left: 540px;
    color: darkgreen;
}

.bring p{
    display: flex;
    margin-left: 300px;
}

.footer{
    height: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.footer h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: darkgreen;
}

.footer img{
    /* border-radius: 50px;
    height: 100%; */
}

.footer p{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 50px;
}

@media screen and (max-width:768px) {

    .aside-prof{
        
        margin-left: 100px;
    }
}